/* Estilos para ng-select */
ng-select {
    @apply w-full;

    .ng-select-container {
        @apply border rounded-md py-2 px-3 text-sm;
        @apply focus:outline-none focus:ring-2 focus:ring-blue-500/20 focus:border-blue-500;
        @apply dark:bg-gray-700 dark:text-white dark:border-gray-600;
    }

    &.ng-select-invalid .ng-select-container {
        @apply border-red-300 dark:border-red-500;
    }
}

/* Ajuste para el texto del placeholder */
.ng-select .ng-select-container .ng-placeholder {
    @apply text-gray-400 dark:text-gray-400;
}

/* Ajuste para el dropdown */
.ng-select .ng-dropdown-panel {
    @apply bg-white dark:bg-gray-700 border dark:border-gray-600;
    @apply text-gray-700 dark:text-white;
}

/* Ajuste para los ítems del dropdown */
.ng-select .ng-dropdown-panel .ng-option {
    @apply py-2 px-3 text-sm;
}

/* Ítem seleccionado en el dropdown */
.ng-select .ng-dropdown-panel .ng-option.ng-option-selected,
.ng-select .ng-dropdown-panel .ng-option.ng-option-marked {
    @apply bg-blue-50 dark:bg-blue-900 text-blue-600 dark:text-blue-400;
}

// modal-detalle-liquidacion.component.scss
select:disabled,
input:disabled {
    background-color: #f3f4f6;
    cursor: not-allowed;
    opacity: 0.6;
}

.dark select:disabled,
.dark input:disabled {
    background-color: #374151;
}